{% extends "layout.html" %}

{% block title %}
signup
{% endblock %}

{% block body %}
<form class="form-signin text-center" action="signup" method="post">
    <img class="mb-4" src="/static/img/brand-blue.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="text" id="username" class="form-control" placeholder="Username" required="">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <input type="password" id="inputcPassword" class="form-control last" placeholder="Confirm Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> I Have read and agree too the <a href="#">Terms of Service</a>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
    
    
  </form>
  <style>
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.last {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}</style>
{% endblock %}