{% extends "layout.html" %}
{% block title %}Coffee {% endblock %}
{% block dependancies %}

<script src="/static/lib/jsgrid.js"></script>
<link href="/static/lib/jsgrid.css" rel="stylesheet" type="text/css" />
<link href="/static/lib/jsgrid-theme.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<style>
.chat-buttons{
    text-align:center;
    padding:1rem 0;
}
</style>
<div class="content container" >
    <div style="display:flex;align-items:center;justify-content:center;margin-bottom:2rem;font-size:1.5rem;">
        Never study alone again, colaborate and get help with...
      </div>
     <div style="display:flex;align-items:center;justify-content:center;">
       <div class="brand"></div>
        <div  class="typewrite" data-period="2000" data-type='["Quizzes.","Practice Tests.","Assignments.", "Brainstorimg."]'>
         <span class="wrap"></span>
       </div>
     </div>
</div>
<div class="container" style="text-align:center;margin-bottom:1rem;">
    <input class="form-control" type="text" style="margin:0 auto;max-width: 30rem;text-align:center;font-size:1.25rem;"placeholder="Search For Your Course " >
</div>
<div class="container" style="text-align:center;margin-bottom:1rem;font-size:1.5rem;">
    - or -
</div >
<div class="container" style="text-align:center;">
    <a  href="/newroom" role="button" class="btn btn-primary btn-lg ">Start One For My Class</a>
</div>
<div class="room-list container">
    <div class="list-group">
        
        {% for item in [1,2,3,4,5,6,7,8] %}
            <a href="#" onclick='window.open("/static/chat.html?roomHash=7a6a4fc5d76c41c5392eab9d0fd8c83261f21fd0","mywindow","status=1");' class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                
                <div style="display:flex;flex-direction:row;align-items: flex-end;">
                    <div style="display:flex;flex-direction:column;">
                    
                    <div>CPSC 233</div>
                    <div class="text-muted" style="font-size: 0.75rem">
                        223 question 30 people online
                    </div>
                    </div >
                    <div class="text-muted"  style="margin-left:2rem;font-size: 0.75rem">
                            20 study Guides Generated 
                            <br />
                            45 Practices Tests Done 
                        </div>
                    
                    </div>
                <span class="badge badge-primary ">14</span>
              </a>
        {% else %}
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            his would display if the 'item' collection were empty
        </a>
        {% endfor %}
      </div>
</div>

<script src="/static/scripts/index.js"></script>

{% endblock %}
