{% extends "layout.html" %}

{% block title %}
New Room
{% endblock %}

{% block body %}
<script src="/static/lib/jsgrid.js"></script>
<link href="/static/lib/jsgrid.css" rel="stylesheet" type="text/css" />
<link href="/static/lib/jsgrid-theme.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="chat-buttons">
            <input type="text" id="new-room-name"><button type="button" class="btn btn-primary btn-lg" id="new-chat-room">New Chat Room</button>
    </div>
    <div id="chatRoomGrid"></div>
    
</div>

<script>
    function createCookie(name,value,days) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = "; expires="+date.toGMTString();
	}
	else var expires = "";
	document.cookie = name+"="+value+expires+"; path=/";
}
function readCookie(name) {
	var nameEQ = name + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	}
	return null;
}
    function createRoom(){
        
    }
$(function(){
    //  buttons 
    $("#new-chat-room").click(function(){
        console.log("asdffasdfdsa");
        $.post("/chat/NewChatRoom", { name: $("#new-room-name").val() })
            .done(function( data ) {
                data = JSON.parse(data);
                if(data.success){
                    window.open("/static/chat.html?roomHash="+data.hash,"mywindow","status=1");
                }else{  //  create an error message if thinfs go wrong 
                    Swal.fire({
                    type: 'error',
                    title: 'Error',
                    text: 'Something whent wrong when creating your chat room. Please Try Again'
                    });
                }
            });
        });

    //  see if the user has an account in local cookies
    if(readCookie("privatekey") == null){
        console.log("no user detected");
        //  get a new account since they have none 
        $.post("/chat/NewAccount").done(function(data){
            data = JSON.parse(data);
            if(data.success){
                createCookie("privatekey",data.privatekey,1000);
            }else{
                //refresh the page
                // or fail silently 
            }
        });
    }


    $("#chatRoomGrid").jsGrid({
        width: "100%",
        filtering: true,

               editing: true,
               sorting: true,
               paging: true,
               autoload: true,
               pageSize: 20,
               pageLoading:true,
      pageButtonCount: 7,
        fields: [
            { name: "name",title: "Room Name", type: "text" },
            { name: "hash",title: "Hash", type: "text" },
            

        ],
        rowClick: function(args) {
          console.log(args);
          var getData = args.item;
          var keys = Object.keys(getData);
          var text = [];
          window.open("/static/chat.html?roomHash="+getData.hash,"mywindow","status=1");

        },
        controller: {
          loadData: function(filter) {
                var d = $.Deferred();
                $.ajax({
                  type: 'POST',
                    url: "/chat/GetChatRooms",
                    dataType: "json",
                    data: filter
                }).done(function(dataResult) {
                  console.log(dataResult);
                    d.resolve(dataResult);
                });

                return d.promise();
            }

          }
    });
});
</script>
{% endblock %}