<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel=icon href=/static/img/favicon.png>
    <meta name="viewport" content="width=device-width">
    <!-- Can template in things here like the name of the chat room-->
    <title>Chat Room</title>
    <script src="/static/lib/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="/static/lib/jsrender.js"></script>
    <script src="/static/lib/swal2.js"></script>
    <script src="/static/lib/jscolor.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="/static/styles/chat.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="top-wrapper">
      <div class="messages-container">
        <div class="container-title">
          <div class="menu-icon" onclick="openMenu()"></div>
          <div class="title-text">
              CPSC 413
          </div>
          
          <div class="filter-btn filter-btn-active">
            Disscusion Messages
          </div>
          <div class="filter-btn filter-btn-active">
            Questions
          </div>
          <div class="filter-btn">
            Announcments
          </div>
          <div id="current-user"></div>
          <div class="settings-icon" onclick="openNav()"></div>
        </div>
        
        <div class="inner-box">
            <ul class="inverted-list" id="message-list">
              
            </ul>
            


        </div>
      </div>
      

    
      
    </div>
    <div class="message-box-wrapper">
      <div class="message-box inner-box file-drop-area" id="file-drop-area">
        <div class="file-overlay" id="file-drop-pic" >
          <div id="file-upload-icon"></div>
          <p>Upload Files</p>
        </div>
        <input type="hidden" class="jscolor" id="color-area">
        <input type="text" class="message-box-textarea" id="message-text">
        <button class="send-btn"  id="new-question-btn" style="margin-right:0;" >+</button>
        <button class="send-btn" id="send-btn">Send</button>
      </div>
    </div>
    <div class="loader-overlay" id="connection-loader">
      <div class="loader-wrapper">
        <div class="loader-animation" id="connection-loader-animation"></div>
        <div class="loader_text">
          Connecting <br> please wait
        </div>
      </div>
    </div>















    <!-- All the app code goes down here-->
    <script src="/static/scripts/question.js"></script>
    <script src="/static/scripts/chat.js"></script>



    <!-- this is the new multiple choice question window -->
    <div id="newQuestionDialog" title="New Question" style="display: none;"> 
      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Multiple Choice</a></li>
          <li><a href="#tabs-2">Written Response</a></li>
          <li><a href="#tabs-3">Short Answer</a></li>
        </ul>
        <div id="tabs-1" class="new-question-content">
          <h4>Question Body:</h4>
         <div style="display: flex;align-items: center;margin-bottom:0.5rem;">
           <label for="new-mc-body" style="margin-right:1rem;" >Question :</label>
           <input type="text" id="new-mc-question-body" style="flex-grow: 1">
         </div>
         <div style="display: flex;align-items: center">
          <label for="new-mc-body" style="margin-right:1rem;" >Image (optional) :</label>
          <input type="file" id="new-mc-question-image" style="flex-grow: 1">
        </div>
         <h4>Differnt Choices:</h4>
         <div id="mc-choices">
          
         </div>
         <div class="widget" style="margin-top:1rem;text-align: right">
          <button onclick="addNewMcChoice()">Add Choice</button>
         </div>
         <div class="widget" style="margin-top:1rem;text-align: right">
            <button onclick="CreateNewMcQuestion()">Create Question</button>
           </div>
        </div>

        <div id="tabs-2" class="new-question-content">
          Question Body :
          <br />
          <textarea>
            
          </textarea>
          <div style="display: flex;align-items: center">
              <label for="new-mc-body" style="margin-right:1rem;" >Image (optional) :</label>
              <input type="file" id="new-mc-question-image" style="flex-grow: 1">
            </div>
            <div class="widget" style="margin-top:1rem;text-align: right">
                <button onclick="">Create Question</button>
               </div>
        </div>

        <div id="tabs-3" class="new-question-content">
            Question Body :
            <br />
            <textarea>

            </textarea>
            <div style="display: flex;align-items: center;">
                <label for="new-mc-body" style="margin-right:1rem;" >Image (optional) :</label>
                <input type="file" id="new-mc-question-image" style="flex-grow: 1">
              </div>
              <div class="widget" style="margin-top:1rem;text-align: right">
                  <button onclick="">Create Question</button>
                 </div>

        </div>
        
      </div>
    </div>


    <!-- the settings menu-->
    <div id="chat-menu" class="sidenav sidenav-left">
      
      <div style="padding: 0 .75rem;display:flex;align-items: center;border-bottom:1px solid rgb(255,255,255,0.15);">
          ASRT 207 <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()">&times;</a>
      </div>
      <div style="text-align:center;cursor:pointer;padding:0.75rem;">
        Midterm 1
      </div>
      <div style="text-align:center;padding:0.75rem;cursor:pointer;">
        Midterm 2
      </div>
      
      <div style="font-size: 0.75rem;flex-grow:1;display:flex;flex-direction:column-reverse;align-items: center;">
        
        <br />
        
       
        <div>About | Terms</div>
        <div>V 1.0</div>
      </div>

    </div>
    <div id="settings-menu" class="sidenav">
      
      
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="menu-wrapper">
        <div class="settings-item">
          <div style="margin-bottom:0.75rem;border-bottom:1px solid rgb(255,255,255,0.35);padding-bottom:0.3rem;padding-left:0.25rem;">
            Room Users
          </div>
          <div class="inverted-list" id="users-list"style="position: relative;"></div>
        </div>
        <div class="settings-item">
            <div style="margin-bottom:0.75rem;border-bottom:1px solid rgb(255,255,255,0.35);padding-bottom:0.3rem;padding-left:0.25rem;">
              Report A Problem
            </div>
          </div>
        <div class="settings-item" style="margin-bottom:2rem;">
          <div style="margin-bottom:0.75rem;border-bottom:1px solid rgb(255,255,255,0.35);padding-bottom:0.3rem;padding-left:0.25rem;">
            My Settings
          </div>
          <div style="margin-bottom:0.75rem;display: flex;flex-direction: row;align-items: center;font-size: 0.9rem;">
            <input type="checkbox">  
            <label style="margin-bottom: 0.25rem">Enable Notifications</label>
          </div>
          <div style="margin-bottom:0.75rem;display: flex;flex-direction: column;align-items: stretch;font-size: 0.9rem;">
            <label style="margin-bottom: 0.25rem">UserName :</label>
            <input class="message-box-textarea" style="padding:0.2rem 0.3rem;">
          </div>
          <div>
            <button>Save</button>
          </div>
        </div>
        
      </div>

    </div>
    <style>
    /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 15rem; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: -15rem;
  background-color: #202225; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
   /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display:flex;
  flex-direction: column;
}
.sidenav-left{
  width: 10rem; /* 0 width - change this with JavaScript */
  left: -10rem;
}
.menu-wrapper{
  padding:1rem;
}
/* The navigation menu links */
.sidenav a {
  padding: 0.25rem;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  flex-grow:1;
  text-align: right; 
  font-size: 1.5rem;
  
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}</style>
<script>
function openNav() {
  document.getElementById("settings-menu").style.right = "0";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("settings-menu").style.right = "-15rem";
}
function openMenu() {
  document.getElementById("chat-menu").style.left = "0";
}

/* Set the width of the side navigation to 0 */
function closeMenu() {
  document.getElementById("chat-menu").style.left = "-10rem";
}
</script>






    <!-- Templates Down Bellow -->
    <script id="message-tmpl" type="text/x-jsrender">
        <li>
            <div class="message">
                {{if changeduser}}
                <span class="message-user  {{:messageClasses}}" {{if user.color != null }}
                style="color:#{{:user.color}};"
            {{/if}}>{{:user.userName}}</span>:
            {{/if}}
                <span class="message-payload   ">{{:message}}</span>
                {{if changeduser}}
                <br />
                <span class="message-time">{{:time}}</span> 
                {{/if}}
              </div>
        </li>

    </script>
    <!-- the user template takes in  -->
    <script id="user-tmpl" type="text/x-jsrender">
        <li class="position">
            <div class="user-tmpl-text"
            {{if publickey != null }}
             onclick="updateInfoContainer('{{:publickey}}')"
            {{/if}}
            {{if color != null }}
                style="color:#{{:color}};"
            {{/if}} >
            {{:userName}}
            {{if online != null }}
            <div class="online-indicator 
            {{if online}}
            online
            {{else}}
            offline
            {{/if}}
            " id="account-online-{{:publickey}}"></div>
            {{/if}}
        </li>
    </script>
  </body>
</html>