body{
margin:0;
padding:0;
background:#413f46;
color:#e5e1e3;
font-family: 'Courier New', Courier, monospace;

}
.top-wrapper{
display: flex;  
flex-flow: row wrap;
align-items: stretch;
height:calc( 100vh - 4rem);
}
.messages-container{
flex: 1 ;

padding:0.5rem;
padding-right:0.25rem;
min-height:calc(100 - 4rem);
display:flex;
flex-direction: column;
}
.users-container{
flex: 1 ;
padding-left:0.25rem;
padding:0.5rem;
max-width:200px;
display:flex;
flex-direction: column;


}
.online-indicator{
  position:absolute;
  bottom:0;
  left:0;
  height:0.5rem;
  width:0.5rem;
  
  border:1px solid white;
  border-radius:50%;
  z-index:1;
}
.online{
  background:green;
}
.offline{
  background:red;
}
.typing{
  width:2rem;
  background:black;
  
  border-radius:0.4rem;
}
.position{
  position:relative;
  padding-bottom:0.2rem;
  padding-left: 0.3rem;
  margin-bottom:0.2rem;
}
.user-tmpl-text{
  z-index:10000;
}
.message-box-wrapper{
height:4rem;
padding:0 0.5rem;
}
.message-box{
display:flex;
padding:0.5rem;


}
.container-title{
padding-left:1rem;
font-weight: 800;
}
.inner-box{

position: relative;
flex:1 1 auto;
position:relative;

}
.info-hash{
  width:200px;
  word-wrap: break-word;
  overflow: initial;
  font-size:0.75rem;
  margin-bottom:0.5rem;
  position :relative;
  display:block;
}
#past-nicknames{
  list-style: none;
    
    margin:0;
    padding:0;
    width:100%;
    overflow-y: scroll;
    max-height: 100%;
  
}
.metadata-info{
  max-height: 20%;
  margin-bottom:0.75rem;
  
}
#metadata-loader{}
.center{
  text-align:center;
}

.message-box-textarea{
flex:1;
border: none;
background:#6b656a;
color:#e5e1e3;
padding:0 0.75rem;
}
.send-message{
margin-left:1rem;
font-size:1.25rem;
}

.message{
padding:0.25rem 0.5rem;
}
.message-list li:nth-child(2n){
background:lightgray;
border-right:0px solid black;
}
.char-room-user{
padding:0.25rem 1rem;
position: relative;
  display: inline-block;
}

.char-room-user:hover .past-nicknames {display: block;}


.inverted-list{
    list-style: none;
    position: absolute;
    bottom: 0;
    left: 0;
    margin:0;
    padding:0;
    width:100%;
    overflow-y: scroll;
    max-height: 100%;
}
#send-btn{
    all: unset;
    font-weight: 700;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor:pointer;
    background: #f6a824;
    
    color:black;
    margin:0 0.5rem;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 0.4rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f6a824; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f6a824; 
  }

  .is-dragover{
    background-position:left;
    background-repeat:no-repeat;
    display:block!important;
    
    width:90%;
    z-index:1000;
    position:absolute;  
    padding-top:0.25rem;
    
  }
  .is-dragover p{
      margin:0.2rem;
      font-weight: 800;
      text-align:center;
  }
  #file-drop-pic{
    display:none;
    
  }
  #file-upload-icon{
    background-image :url('/static/icon.svg');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    height:1.5rem;
    width:1.5rem;
    margin:0 auto;
  }


/* loader styles  */
.loader-overlay{
  position:absolute;top:0;left:0;height:100vh;width:100%;background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) );
}
.loader-wrapper{
  margin:0 auto;position: absolute;top: 50%; left: 50%;transform: translate(-50%,-50%)
}
.loader-animation{
 background-size: contain;background-position: top center; background-repeat: no-repeat;height:10rem;width:10rem;
}
.fire_loader{
  background: url('/static/img/fire_loader.svg');
}
.square_loader{
  background: url('/static/img/square_loader.svg');
}
.flask_loader{
  background: url('/static/img/flask_loader.svg');
}
.ghost_loader{
  background: url('/static/img/ghost_loader.svg');
}
.line_loader{
  background: url('/static/img/line_loader.svg');
}
.block_loader{
  background: url('/static/img/block_loader.svg');
}
.loader_text{
  text-align:center;font-size:1.5rem;font-family:courier;margin-top:0.5rem;font-weight:700;width:100%;
}